# Virtual envs
.venv/
venv/
ENV/

# Python noise
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.dist-info/
.build/
build/
dist/
.coverage
.pytest_cache/
.mypy_cache/

# Editors & OS
.vscode/
.idea/
.DS_Store

# Logs & data outputs
*.log
*.csv
subsearch_run_*.csv
